{% extends 'base.html.twig' %}

{% block title %}
profile
{% endblock %}
{% block body %}
    <h1>Welcome {{ user.name }}</h1>

    {{ parent()}}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.username) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone_number) }}
        {{ form_row(form.password) }}
        {{ form_row(form.submit,{ 'attr': {'class': 'primary_btn'} }) }}

    </div>

    <div class="offre">
    {% for offre in offre %}
        <span
                class="mb-2"
        > Abonnement :
    {{ offre.offre.name }} </span>
        <br>
        <span class="mb-2">
    Date expiration :
    {{ offre.DateFin | date('d-m-Y') }}
</span>
        <br>
        <div class="progress" role="progressbar" aria-label="Animated striped example"
             aria-valuenow="{{ offre.offre.duration}}"
             aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated"
                 style="width: {{ offre.offre.duration }}%;background-color:orangered">
            </div>
        </div>


    {% endfor %}
    </div>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <style>
        body{
            margin: 100px;
        }
        .form-group{
            width: 800px;
            margin: 100px;

        }
        .btn {
            margin-left: 390px;
            margin-top: 20px;
            background-color: orangered;
            color: whitesmoke;
            text-decoration: none;
            height: 40px;
            padding: 10px;
        }
        .offre{
            width: 800px;
            margin: 100px;
        }
        h1{
            margin-left: 300px;
            margin-top: 100px;
        }
    </style>
{% endblock %}