{% extends 'layout.html.twig' %}
{% block title %}
    TimeTables
{% endblock %}
{% block content %}
    {% include 'Fragments/breadcrumb.html.twig' with {'page_title':'TimeTables'} %}
<!-- Class Timetable Section Begin -->
<section class="class-timetable-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <span>Find Your Time</span>
                    <h2>Find Your Time</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="table-controls">
                    <ul>
                        <li class="active" data-tsfilter="all">All event</li>
                        <li data-tsfilter="fitness">Fitness tips</li>
                        <li data-tsfilter="motivation">Motivation</li>
                        <li data-tsfilter="workout">Workout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Class Timetable Section End -->

<!-- Timetable Images Section Begin -->
<div class="col-lg-12 p-0 ">
    <div id="timetable-images"></div>
</div>

<!-- Timetable Images Section End -->
{% endblock %}
{% block stylesheets  %}
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{  asset('assets/css/flaticon.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('assets/css/barfiller.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{  asset('assets/css/magnific-popup.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{  asset('assets/css/slicknav.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{  asset('assets/css/style.css')}}" type="text/css" />
{% endblock %}
{%  block javascripts%}
<!-- Script for Image Filtering -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const timetableImages = document.getElementById("timetable-images");
        const filters = {
            all: "{{ asset('image.php?image=emploi1.png') }}",
            fitness: "image.php?image=emploi2.png",
            motivation: "image.php?image=emploi3.png",
            workout: "image.php?image=emploi4.png",
        };

        function updateTimetableImages(filter) {
            const imageUrl = filters[filter];
            timetableImages.innerHTML = `<img
          style="width: 100%; height: 100%;"
          src="${imageUrl}" alt="${filter}">`;
        }

        const tableControls = document.querySelector(".table-controls ul");
        tableControls.addEventListener("click", function (event) {
            if (event.target.tagName === "LI") {
                const filter = event.target.dataset.tsfilter;
                updateTimetableImages(filter);
            }
        });

        // Initially show all images
        updateTimetableImages("all");
    });
</script>
<!-- End Script-->
<!-- Js Plugins -->
<script src="{{  asset('assets/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{  asset('assets/js/bootstrap.min.js')}}"></script>
<script src="{{  asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{  asset('assets/js/masonry.pkgd.min.js')}}"></script>
<script src="{{  asset('assets/js/jquery.barfiller.js')}}"></script>
<script src="{{  asset('assets/js/jquery.slicknav.js')}}"></script>
<script src="{{  asset('assets/js/owl.carousel.min.js')}}"></script>
<script src="{{  asset('assets/js/main.js')}}"></script>
{% endblock %}