{% extends 'base.html.twig' %}
{% block title %}
    Consulter Client
{% endblock %}
{% block body %}
    <div class="container my-4">
        <div class="row">
            <h1 class="col">Consulter Client</h1>
        </div>
        <div class="card mb-3 position-relative">
            <div class="dropdown-center position-absolute top-0 end-0">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item" type="button"><a
                                    class="text-decoration-none"
                                    href="{{ path('app_admin_dashboard_client') }}">Back
                                to
                                main list</a></button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button"><a
                                    class="text-decoration-none"
                                    href="{{ path('app_admin_dashboard_client_id_edit', {'id': client.id}) }}">Edit
                            </a></button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button"><a
                                    class="text-decoration-none"
                                    href="{{ path('app_admin_dashboard_client_id_delete',{ 'id':client.id}) }}">Delete
                                User</a>
                        </button>
                    </li>
                </ul>
            </div>
            <img src="{{ asset('assets/images/banner-bg.jpg') }}" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ client.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ client.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ client.email }}</td>
                    </tr>
                    <tr>
                        <th>Subscriptions</th>
                        <td>
                            <ul class="list-group">
                                {% for subscription in client.subscriptions %}
                                    <li class="list-group-item">
                                        <p>
                                            subscription.name
                                        </p>
                                        <p>
                                            subscription date fin
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}